body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2D0A9;
}

header {
    background-color: #D48B94;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.nav-left .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}


.nav-right {
    display: flex;
    align-items: center;
}

.nav-right a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 10px;
}

.nav-right .profile-icon {
    width: 30px;
    height: 30px;
    background-color: #F5EDE0;
    border-radius: 50%;
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero-content .logo-box {
    background-color: #F5EDE0;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.hero-content h2 {
    margin: 20px 0;
}

.resource-btn {
    background-color: #7E9A9A;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.info-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.box {
    width: 150px;
    height: 200px;
}

.box.light {
    background-color: #F5EDE0;
}

.box.medium {
    background-color: #D48B94;
}

.box.dark {
    background-color: #c1ac9a;
}

.about, .commitment {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

.about h2, .commitment h2 {
    font-size: 1.8em;
    font-weight: bold;
}

.contact-btn {
    background-color: #7E9A9A;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.commitment {
    background-color: white;
    padding: 40px;
}