body {
    font-family: Arial, sans-serif;
    background-color: #F2D0A9;
    margin: 0;
    padding: 0;
}


.form-container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background: #F2D0A9;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-header h1 {
    text-align: center;
    color: #333;
}


.photo-section img {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ccc;
}

.photo-section button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #999;
    color: white;
    border: none;
    cursor: pointer;
}

.info-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    flex: 1;
    margin: 0 20px;
}

.column label {
    display: block;
    margin: 10px 0 5px;
}

.column input[type="text"], .column input[type="tel"], .column textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.column .checkbox-group {
    margin: 10px 0;
}

.column .checkbox-group input[type="checkbox"] {
    margin-right: 5px;
}

.form-footer {
    text-align: center;
    margin-top: 20px;
}

.form-footer button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

.form-footer a {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}