body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f4ef;
  }

  
  .navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #d48b94;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #7e9a9a;
  }
  .user-icon {
    background: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }

  button {
    border: none; 
    background: none; 
    padding: 0;
}
  
  .container {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    background-color: #fbe2c1;
    padding: 20px;
  }
  
  .filter-section {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background: #f9f4ef;
    padding: 10px;
  }
  
  .filter-section h4 {
    margin-top: 0;
  }
  
  .main {
    padding: 20px;
  }

  .provider {
    margin-top: 50px;
    padding: 5px;
    width: 1100px;
    height: auto;
    border: 2px solid #de8799; 
  }
  
  .submit-button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
  }

  .provider{
    font-weight: bold;
  }

  span{
    font-weight: normal;
  }

  #status{
    color: #1d9797;
    font-weight: bold;
  }

  footer {
    background-color: #7e9a9a;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
    font-size: 0.9em;
}
